<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=53145e5b6696588dc70ac4fcb0dda36a"></script>
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>
    <h1 th:if="${user != null}">Welcome! [[${user.getName()}]]</h1>
    <h1>Hello world!</h1>
    <!-- 계정 관련 -->
    <div>
        <a th:if="${user == null}" th:href="@{/auth/signin}">로그인</a>
        <a th:if="${user == null}" th:href="@{/auth/signup}">회원가입</a>
        <a th:if="${user != null}" th:href="@{/auth/logout}">로그아웃</a>
    </div>
    <!--  탐색 관련  -->
    <div>
    </div>
    <!-- 맵 표시 -->
    <div id="map" style="width: 100vw; height: 50vh"></div>
    <!-- 맵 Destination Marker 위치 관련 -->
    <input th:id="destinationLatitude" type="hidden" th:if="${ride == null}" value="">
    <input th:id="destinationLatitude" type="hidden" th:if="${ride != null}" th:value="${ride.getDestinationLocation().getLatitude()}">
    <input th:id="destinationLongitude" type="hidden" th:if="${ride == null}" value="">
    <input th:id="destinationLongitude" type="hidden" th:if="${ride != null}" th:value="${ride.getDestinationLocation().getLongitude()}">
    <!-- 매칭 버튼 관련 -->
    <button th:if="${ride == null}" th:id="matchButton" th:value="match" style="width: 100vw">매칭</button>
    <button th:if="${ride != null}" th:id="matchButton" th:value="cancelMatch" style="width: 100vw">매칭 취소</button>

</body>

<script>
    /* 함수들 */

    // 매칭 버튼 보이기, 숨기기
    const showMatchButton = () => {
        let matchButton = document.getElementById("matchButton");

        if (matchButton.value === "cancelMatch") {
            matchButton.value = "match";
            matchButton.innerText = "매칭";
        }
    }

    const showMatchCancelButton = () => {
        let matchButton = document.getElementById("matchButton");

        if (matchButton.value === "match") {
            matchButton.value = "cancelMatch";
            matchButton.innerText = "매칭 취소";
        }
    }
</script>

<script type="module">
    import KakaoMap from "/js/KakaoMap.js";
    import Poll from "/js/Poll.js";

    let container = document.getElementById("map"); // 지도 표시 element

    let mapInstance;
    let pollInstance = new Poll("/api/match");

    let currentPosition;
    let destinationPosition;

    /* 로그인된 아이디로 ride가 등록되어 있을 경우 match polling 시작 */
    if (document.getElementById("matchButton").value === "cancelMatch") {
        console.log("poll started");
        pollInstance.startPoll();
    }


    // 현재 위치 가져온 후 Map 생성
    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(
            (position) => {
                let coords = position.coords;
                currentPosition = new kakao.maps.LatLng(coords.latitude, coords.longitude);

                //Map Instance 생성
                mapInstance = new KakaoMap(container, {
                    center: currentPosition,
                    level: 3,
                    draggable: true
                });

                // ride가 등록되어 있을 경우 해당 위치로 destinationPosition을 설정
                let destinationLatitude = document.getElementById("destinationLatitude").value;
                let destinationLongitude = document.getElementById("destinationLongitude").value;

                // destinationPosition 표시
                if (destinationLatitude === "") {
                    destinationPosition = mapInstance.getCenterPosition();
                    mapInstance.moveDestinationPosition();
                } else {
                    destinationPosition = new kakao.maps.LatLng(destinationLatitude, destinationLongitude);
                    mapInstance.stopDestinationPosition();
                }

                // 지도에 내 위치, 목적지 위치 Marker 표시
                mapInstance.markMyPosition(currentPosition);
                mapInstance.markDestinationPosition(destinationPosition);
            }
        )
    } else {
        alert("위치정보를 허용해주세요.")
    }

    // Event Listeners
    document.getElementById("matchButton").addEventListener("click", async () => {
        // 매칭 시작
        if (document.getElementById("matchButton").value === "match") {
            const position = mapInstance.getCenterPosition();
            
            // DTO에 들어갈 json data
            const data = {
                currentLatitude: currentPosition.getLat().toString(),
                currentLongitude: currentPosition.getLng().toString(),
                destinationLatitude: position.getLat().toString(),
                destinationLongitude: position.getLng().toString()
            }

            // API 요청
            fetch("/api/ride", {
                method: "POST",
                body: JSON.stringify(data),
                headers: {
                    "Content-Type": "application/json"
                }
            })
                .then(res => res.json())
                .then((data) => {
                    // 테스트용
                    alert(data.success + " " + data.numOfRide);
                    mapInstance.stopDestinationPosition();
                    showMatchCancelButton();
                    pollInstance.startPoll();
                })
                .catch((error) => {
                    console.error(error);
                    alert("로그인이 필요합니다.");
                });
        } else { // 매칭 종료
            fetch("/api/ride", {
                method: "DELETE",
            })
                .then(() => {
                    alert("매칭이 취소되었습니다.")
                    mapInstance.moveDestinationPosition();
                    showMatchButton();
                    pollInstance.stopPoll();
                })
                .catch((error) => {
                    console.error(error);
                    alert("로그인이 필요합니다.");
                });
        }

    });
</script>
</html>