<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
  <h1>Login Page</h1>
  <form th:object="${signinFormDTO}" action="/auth/signin/process" method="post">
      <div>
          <label>이메일</label>
          <input type="text" th:field="*{email}" placeholder="Email" required>
      </div>
      <div>
          <label>비밀번호</label>
          <input type="password" th:field="*{password}" placeholder="Password" required>
      </div>
      <div>
          <button type="submit">로그인</button>
      </div>
  </form>
</body>
</html>